{% extends 'base.html' %}
{% load static %}

{% block homeactive %}active{% endblock homeactive%}
{% block title %}List{% endblock title%}

{% block content %}
  <div class="container mb-5  ">
      <h2 class="text-center my-3">ToDO List - All Tasks</h2>
      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Task Title</th>
            <th scope="col">Task Description</th>
            <th scope="col">Task Delete</th>
            
          </tr>
        </thead>
        <tbody>
        <!-- ここでforループを実行し、すべてのタスクを繰り返します -->
        
        {% for task  in tasks  %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{task.taskTitle}}</td>
            <td>{{task.taskDesc}}</td>
            <td><button type="button" class="btn btn-outline-success">Delete</button></td>
          </tr>
        {% endfor %}
          
         
        </tbody>
      </table>
  </div>



{% endblock content %}